body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  margin: 0;
  padding: 0;
}

.first-background {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  align-self: center;
  padding-left: 25%;
  padding-right: 25%;
}

.header {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 15px;
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: #e5e7eb;
}

.top {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.hero-main-text {
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.website-has {
  display: flex;
  gap: 25%;
}

img {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  width: 400px;
  height: 250px;
  position: absolute;
  right: 15%;
  top: 10%;
  border-radius: 50px;
}

.hero-sub-text {
  color: #e5e7eb;
  font-size: 18px;
  width: 60%;
  padding-bottom: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.sign-up {
  border: 1px solid #3882f6;
  width: 100px;
  padding: 7px;
  background-color: #3882f6;
  color: white;
  border-radius: 5px;
  font-weight: 700;
}

.placeholder {
  border: 20px solid #788eac;
  background-color: #788eac;
  font-size: 18px;
  font-weight: 400;
  height: 150px;
  width: 450px;
  text-align: center;
}
